<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Rocket.q - Perguntas e Respostas</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room.css" />
    <link rel="stylesheet" href="/styles/room-empty.css" />

    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="room" class="content">
      <header>
        <a href="/">
          <img src="/images/logo.svg" alt=" To Ask Logo" />
        </a>

        <div class="buttons">
          <div class="button outlined">
            #323243
            <img src="/images/copy.svg" alt="Copiar numero da sala" />
          </div>

          <a href="#" class="button">
            <img src="/images/users-white.svg" alt="Criar sala" />
            Criar Sala
          </a>
        </div>
      </header>

      <main>
        <section id="question-form">
          <h2>Faça sua pergunta</h2>
          <form action="">
            <label for-id="question" class="sr-only"
              >O que voce quer perguntar?</label
            >
            <textarea
              name="question"
              placeholder="O que voce quer perguntar?"
              id="question"
            ></textarea>

            <footer>
              <div>
                <img src="/images/lock.svg" alt="Cadeado" />
                Esta pergunta é anônima
              </div>
              <button>Enviar</button>
            </footer>
          </form>
        </section>

        <section class="question">
          <div class="bg"></div>

          <div class="text">
            <h2>Nenhuma pergunta por aqui...</h2>
            <p>
              Faça sua primeira pergunta e envie o código dessa sala para outras
              pessoas!
            </p>
          </div>
        </section>
      </main>
    </div>
  </body>
</html>
