<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/room-empty.css" />
  </head>
  <body>
    <section class="question">
      <div class="bg"></div>

      <div class="text">
        <h2>Nenhuma pergunta por aqui...</h2>
        <p>
          Faça sua primeira pergunta e envie o código dessa sala para outras
          pessoas!
        </p>
      </div>
    </section>
  </body>
</html>
